<div>
    <div class="">
        <button type="button" data-toggle="modal" data-target="#modalCreateForum" class="btn btn-primary btn-block">
            Crear foro
        </button>
    </div>
</div>